body{
    background-image: url(/ProjetoDoZero/result-economy-success-report-solution-statistics.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(169, 169, 169, 0.623);
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
     
    
    
}
h1{
    padding: 10px;
}
label{
    display: block;
    margin-top: 20px;
   

   
   
}
button{
    margin-top: 30px;
    width: 50px;
}




